<div class="absolute">
    <div class="container">
        <div class="row">
            <ul>
                <li><a href="?page=index">Home</a></li>
                <li><a href="?page=upload">SchoppingCart</a></li>
            
                <li><a href="?page=logout">Logout</a></li>
                <li><a href="?page=register">Register</a></li>
                

              
            </ul>
        </div>
    </div>
</div>